/target


# Added by cargo
#
# already existing elements were commented out

#/target


# Added by cargo
#
# already existing elements were commented out

#/target

#Encrypted database
*.bin

.env

.DS_Store
Thumbs.db
